@import './variables.scss';

.wrap {
 max-width: $max-width;
 padding: 0 1rem;
 margin: 0 auto;
}

.header,
.footer {
  @extend .pt2;
  @extend .pb2;

  background-color: $primary-color-text;
  color: $primary-text-color;
}

body {
  background-color: $primary-color;
  color: $primary-color-text;
}

.loader-container {
  @extend .wrap;
  
  @extend .flex;
  @extend .items-center;
  @extend .justify-center;
}

.main-content {
  min-height: 100vh;
}

