@import './_basscss.scss';
@import './theme.scss';
@import './layout.scss';

@import './_checkbox.scss';
@import './todo.scss';

.secondary-text-color {
  color: $secondary-text-color;
}

.primary-color-light {
  color: $primary-color-light;
}

.love {
  color: $red;
  font-size: 1.2rem;
}