.todo {
  @extend .mb3;
}

.todo-header {
  @extend .pt2;
  @extend .pb2;
  
  background-color: $primary-color-dark;
  color: $primary-color-text;
}

.todo-status {
  @extend .primary-color-light;
}

.todo-title {
  @extend .h2;
  display: inline-block;
  padding-left: 0.5rem;
  margin-bottom: 0;
}

.todo-list {
  @extend .wrap;
  @extend .list-reset;
  margin-top: 0;
  margin-bottom: 0;
}

.todo-item {
  padding: 1rem 0;
  border-bottom: 1px solid $divider-color;
}

.todo-item-text {
  padding-left: 0.5rem;
  font-size: 1.2rem;
}